# Ambientes virtuais
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Sistema Operacional e temporários
*.Zone.Identifier
.DS_Store
Thumbs.db

# Configurações locais do Streamlit que contenham credenciais (mas permitimos config.toml)
.streamlit/secrets.toml